.footer{
    background-color: #0000b2;
    border-top: 5px solid red;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.footer > div{
    max-width: 1140px;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
    color: #ffff;
}

.footer > div > p{
    font-size: 12px;
}

.footer > div > ul{
    height: fit-content;    
    list-style: none;
}

.footer > div > ul li{
    font-size: 14px;
}

.footer > div > ul li h2{
    font-size: 17px;
    color: #ffff;
    font-weight: 700;
}

.footer > div > ul li a{
    color: #ffff;
}

.footer > div ul li a img{
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1155px) {
    .footer > div{
        padding: 25px 15px;
    }
}

@media only screen and (max-width: 800px) {
    .footer > div{
        flex-direction: column;
    }
}